<html ng-app="registerApp">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Player Registration Page</title>
    <script src="js/angular/angular.js"></script>
    <script src="js/controllerCtrl.js"></script>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="css/app.css"/>

</head>
<body>
<div class="container">
    <div class="row">
        <!--<div class="col-md-offset-5 col-md-3">-->
        <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2 col-md-offset-3">
            <div class="form-login">
                <form role="form" ng-submit="submit()" ng-controller="RegController">

                    <h2>Please Sign In</h2>
                    <hr class="colorgraph"/>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">

                            <div class="form-group">
                                <input type="text" name="user_name" id="userName"
                                       class="form-control input-lg chat-input"
                                       placeholder="User Name" tabindex="1" ng-model="player.username" required/>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="password" id="userPassword"
                                       class="form-control input-lg"
                                       placeholder="password" tabindex="2" ng-model="player.password" required/>
                            </div>
                        </div>
                    </div>
                    <div class="wrapper">
            <span class="group-btn">
                 <div class="row">
                     <div class="col-xs-12 col-md-3"><input type="submit" id="submit" value="Login"
                                                            class="btn btn-primary btn-block btn-lg" tabindex="3"/>
                     </div>
                 </div>
                <!--<a href="#" class="btn btn-primary btn-md">login <i class="fa fa-sign-in"></i></a>-->
            </span>

                    </div>
                </form>
            </div>

        </div>
    </div>

</div>
</body>
</html>