<!DOCTYPE html>
<html ng-app="hireCourtApp">
<head lang="en">
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>Badminton Court Hire</title>
    <!-- Bootstrap Core CSS -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../css/agency.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="../font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet'
          type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="../js/angular/angular.js"></script>
    <script src="../js/controllerCtrl.js"></script>
    <link rel="stylesheet" href="../css/app.css"/>
</head>
<body id="page-top" class="index">
<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="index.html">Home</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse text-primary " id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right col-lg-10 ">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <!--<li>-->
                    <!--<a class="page-scroll" href="#services">Hire Court</a>-->
                <!--</li>-->
                <li>
                    <a class="page-scroll" href="#portfolio">Portfolio</a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">About</a>
                </li>
                <li>
                    <a class="page-scroll" href="#team">Team</a>
                </li>
                <li>
                    <a class="page-scroll" href="#contact">Contact</a>
                </li>
                <li>
                    <a class="page-scroll" href="../login.html">Login</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<br><br><br>

<div class="container" ng-controller="courtHireController">

    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <br><br><br>

            <h3>Add New Court Hire</h3>

            <form class="form-horizontal" role="form" ng-submit="addCourt()">
                <div class="form-group">
                    <label class="col-md-2 control-label">Court Name</label>

                    <div class="col-md-8">
                        <input type="text" class="form-control" name="courtName"
                               ng-model="courtName"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Date Hired</label>

                    <div class="col-md-8">
                        <input type="date" class="form-control" name="dateHired"
                               ng-model="dateHired"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Start Time</label>

                    <div class="col-md-8">
                        <input type="datetime" class="form-control" name="startTime"
                               ng-model="startTime"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">End Time</label>

                    <div class="col-md-8">
                        <input type="datetime" class="form-control" name="endTime"
                               ng-model="endTime"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Money Paid</label>

                    <div class="col-md-8">
                        <input type="text" class="form-control" name="moneyPaid"
                               ng-model="moneyPaid"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">payer</label>

                    <div class="col-md-8">
                        <input type="text" class="form-control" name="payer"
                               ng-model="payer"/>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-8">
                        <input type="submit" value="Submit" class="btn btn-primary"/>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-4 col-sm-3 col-md-3">
            <br><br>
            <table class="table">
                <tr>
                    <th>Court Name
                    </th>
                    <th>DateHired
                    </th>
                    <th>Start Time
                    </th>
                    <th>
                        End Time
                    </th>
                    <th>
                        Money Paid
                    </th>
                    <th>
                        Payer
                    </th>
                </tr>
                <tr ng-repeat='court in courts'>
                    <td>{{court.courtName}}
                    </td>
                    <td>{{court.dateHired}}
                    </td>
                    <td>{{court.startTime}}
                    </td>
                    <td>
                        {{court.endTime}}
                    </td>
                    <td>
                        {{court.moneyPaid}}
                    </td>
                    <td>
                    <!--{{court.payer}}-->
                    </td>
                </tr>
            </table>
        </div>
    </div>

</div>
<br><br><br><br><br><br><br><br><br><br>
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Your Website 2014</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li><a href="#"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li><a href="#"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li><a href="#">Privacy Policy</a>
                    </li>
                    <li><a href="#">Terms of Use</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>


<!-- jQuery -->
<script src="../js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="../js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
<script src="../js/classie.js"></script>
<script src="../js/cbpAnimatedHeader.js"></script>

<!-- Contact Form JavaScript -->
<script src="../js/jqBootstrapValidation.js"></script>

<!-- Custom Theme JavaScript -->
<script src="../js/agency.js"></script>


</body>
</html>